certifi==2018.10.15
chardet==3.0.4
Django==2.1.2
idna==2.7
packaging==18.0
pathlib==1.0.1
Pillow==8.1.1
psycopg2==2.7.5
psycopg2-binary==2.7.5
pyparsing==2.3.0
pytz==2018.7
requests==2.20.0
six==1.11.0
unoconv==0.8.2
urllib3==1.24.1
Wand==0.4.4
xvfbwrapper==0.2.9
